<div layout="vertical" layout-fill>

    <md-content class="page-content user-page">
        <header>
            <md-toolbar layout="row" layout-align="center center">Angular Gist SPA</md-toolbar>
        </header>


        <md-card md-colors="::{backgroundColor: 'default-primary-700'}">
            <md-card-title>
                <md-card-title-media>
                    <div class="md-media-sm card-media" layout md-colors="::{background: 'default-accent'}">
                        <md-icon md-svg-icon="person"></md-icon>
                    </div>
                </md-card-title-media>
                <md-card-title-text>
                    <span class="md-headline">{{id}}</span>
                    <span class="md-subhead description">This card is colored according the default theme</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </md-content>

</div>
